<!DOCTYPE html>
<html ng-app='AngularApp'>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/style.css">
    <title>Лабораторна робота №3</title>
</head>
<body>
<h2>Застосунок для перевірки кількості введених продуктів</h2>
<div ng-controller="AppController" class="app">
    <label>Введіть список продуктів: </label><input
        type="text"
        ng-model="productsList"><br/>
    <div class="answer">{{answer}}</div>

    <button ng-click="displayAnswer()">Чи не забагато?</button>
</div>

</body>
</html>